<div class="container">
  <ng-container [ngSwitch]="stage">
    <app-video-instruction *ngSwitchCase="STAGES.VIDEO_INSTRUCTION"></app-video-instruction>
    <app-passport-form [language]="language"
                       [data]="regulaData"
                       *ngSwitchCase="STAGES.SCAN_PASSPORT"
                       (submit)="onPassportReady($event)"
                       (cancel)="onPassportCancel($event)"
    ></app-passport-form>
    <app-view-result
      [language]="language"
      [passport]="passport"
      *ngSwitchCase="STAGES.VIEW_NUMBER"
      (cancel)="onPassportCancel()"
    ></app-view-result>
  </ng-container>
</div>
