<div class="container">
  <ng-container [ngSwitch]="stage">
    <app-language-selector *ngSwitchCase="STAGES.SELECT_LANGUAGE"
                           (select)="onLanguageSelect($event)"></app-language-selector>
    <app-passport-form [language]="language"
                       *ngSwitchCase="STAGES.SCAN_PASSPORT"
                       (submit)="onPassportReady($event)"
                       (cancel)="onPassportCancel($event)"
    ></app-passport-form>
    <app-view-result
      [language]="language"
      [passport]="passport"
      *ngSwitchCase="STAGES.VIEW_NUMBER"
      (cancel)="onPassportCancel()"
    ></app-view-result>
  </ng-container>
</div>
